#pokemon-data{
    margin-top: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content:space-evenly;
}
p{
    font-weight: bolder;
}
button{
    background-color:cornflowerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    object-fit: contain;
}